body{
background-image: url("BCK.jpg");
font-family: 'Orbitron', sans-serif;
}
.header_div{
color: blue;
}
.header_div p{
background-color:white;
font-weight: bold;
font-size:15px;
letter-spacing: 2px;
}
.main_div button{
margin: 20px;
font-size: 17px;
letter-spacing: 3px;
font-weight: bold;
width: -130px;
color: blue;
border-style: solid; 
border-radius: 5px;
}
.main_div h3{
color: blue;
font-weight: bold;
}
.copy_right_footer{
background-color: lightcyan;
color: blue;
font-weight: bold;
text-align: center;
text-shadow:5px 5px 5px gray;
font-size: 25px;

}